{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donar Card</title>
    <link rel="stylesheet" href="{% static 'donar_card.css' %}">
</head>
<body>
<!--navbar-->
<nav class="navbar">
    <ul>
        <li><a class="btn btn-outline" href="{% url 'home' %}">Home</a></li>
        <li><a>About Us </a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'faq' %}">FAQ's</a></li>
        <li class="site-name"><i class="fa-regular fa-heart-pulse"></i> Jeevana</li>
        {% if user.is_authenticated %}
        <li><a class="btn btn-outline" href="{% url 'logout' %}">LogOut</a></li>
        {% else %}
        <li><a class="btn btn-outline" href="{% url 'login' %}">Login</a></li>
        <li><a class="btn btn-outline" href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>
<!--form-->
<div class="container">
    <div class="donor-card">
        <h4>Register For Donar Card</h4>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div>
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div>
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div>
                <label for="bloodgroup">Blood Group:</label>
                <select id="bloodgroup" name="bloodgroup" required>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>
            <div>
                <label for="organ">Organ Willing to Donate:</label>
                <select id="organ" name="organ" required>
                    <option value="">--select--</option>
                    <option value="Heart">Heart</option>
                    <option value="Kidney">Kidney</option>
                    <option value="Liver">Liver</option>
                    <option value="Lung">Lung</option>
                    <option value="Pancreas">Pancreas</option>
                    <option value="Intestine">Intestine</option>
                </select>
            </div>
            <div>
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" required>
            </div>
            <div>
                <label for="place">Place:</label>
                <input type="text" id="place" name="place" required>
            </div>
            <div>
                <label for="status">Status Check:</label>
                <input type="checkbox" id="status" name="status">
            </div>

            <br>
            <button type="submit" class="btn btn-success">
                Register
            </button>

        </form>
    </div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function () {
        alert('Thank you For Registering Donor Card !!');
        window.location.href = "{% url 'home' %}";
    });
</script>

</body>
</html>
